@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    background-color: lightblue
}

.heading {
    text-align: center;
}

label {
    display: block;
}

main {
    min-height: calc(100vh - 20px);
}

#calculation-selector-div {
    margin: 0 auto;
    width: 244px;
}

.unhide {
    display: block;
}

.hide {
    display: none;
}

.line-break {
    clear: both;
}

.calculation-article section {
    background-color: lightblue
}

.description {
    width: 80%;
    height: auto;
    margin: 25px auto;
    padding: 10px;
    border-radius: 30px;
}

.description h2 {
    text-align: center;
}

.description ol li {
    margin-top: 5px;
}

#determinability-user-input {
    height: 70vh;
}

#determinability-calculated-output {
    height: 70vh;
}

#determinability-select {
    height: 200px;
}

.select {
    height: 100px;
}

#determinability-input-2 {
    margin-left: 25px;
}

#determinability-input-1, #determinability-input-2 {
    display: none;
}

#submit-div {
    margin-top: 50px;
}

#reset-determinability {
    margin-top: 10px;
}

#constant-div, #constant-1-div, #constant-2-div, #submit-ubbelohde, #submit-zeitfuchs, #reset-determinability {
    display: none;
}

#determinability-details, #repeatability-details, #reproducibility-details, #calibration-details, #recalibration-details {
    display: none;
}

#determinability-details-button, #repeatability-details-button, #reproducibility-details-button, #calibration-details-button, #recalibration-details-button {
    display: none;
}

#repeatability-user-input, #reproducibility-user-input, #calibration-user-input {
    height: 55vh;
}

.user-input-div {
    margin-top: 25px;
}

#repeatability-calculated-output, #reproducibility-calculated-output, #calibration-calculated-output {
    height: 55vh;
}

.user-input {
    width: 20%;
    float: left;
    margin-left: 500px;
}

.calculated-output {
    width: 45%;
    float: right;
}

.calculated-output-div {
    height: 60px;
}

.input-unit {
    margin-left: 3px;
}

.output-label {
    display: none;
}

.output-unit {
    display: none;
    margin-left: 3px;
}

.superscript {
    vertical-align: super;
    font-size: x-small;
}

#calibration-output-div {
    height: 170px;
}

#recalibration-user-input {
    height: 30vh;
    background-color: lightblue;
}

#recalibration-calculated-output {
    height: 30vh;
    background-color: lightblue;
}

button {
    background-color: white;
    color: black;
    width: 150px;
    height: 25px;
}

button:hover {
    background-color: darkblue;
    color: white;
}

.mimic-button {
    background-color: white;
    margin: 0em;;
    color: black;
    width: 150px;
    height: 25px;
    border-style: outset;
    border-width: 2px;
    padding-left: 4px;
    padding-right: 4px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13.3333px;
    box-sizing: border-box;
    text-align: center;
    padding-top: 3px;
}

/*Style rules to remove the arrows from the number inputs*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.footer {
    height: 20px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#determinability-calculations {
    margin-top: 100px;
}

#repeatability-calculations {
    margin-top: 81px;
}

#reproducibility-calculations {
    margin-top: 62px;
}

#viscometer-calibration {
    margin-top: 43px;
}

#viscometer-constant-recalibration {
    margin-top: 24px;
}

/*discussion page style rules*/

#discussion-main {
    width: 80%;
    margin: 0 auto;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul li {
    margin: 3px 0;
    
}

#discussion-main article p a {
    text-decoration: none;
    color: black;
}

#discussion-main article p a:hover {
    text-decoration: underline;
}

