

body {
    margin: 0;
}

.title, h2, h3 {
    text-align: center;

}

main {
    min-height: calc(100vh - 20px);
}

.line-break {
    clear: both;
}

.description {
    width: 80%;
    height: 300px;
    background-color: blanchedalmond;
    margin: 25px auto;
}

.description h2 {
    text-align: center;
}

.user-input {
    float: left;
    width: 50%;
    height: 50vh;
    background-color: lightblue;
}

.select {
    margin: 25px auto;
}

#run-1 {
    float: left;
}

#run-2 {
    float: right;
}

#constant-1-div {
    float: left;
}

#constant-2-div {
    float: right;
}

#constant-div, #constant-1-div, #constant-2-div, #submit-ubbelohde, #submit-zeitfuchs {
    display: none;
}

.calculated-output {
    float: right;
    width: 50%;
    height: 50vh;
    background-color: lightcoral;
}

#kv-1 {
    float: left;
}

#kv-2 {
    float: right;
}

#kv-final {
    margin: 0 auto;
}

#upper-determinability {
    float: left;
}

#lower-determinability {
    float: right;
}

#output {
    clear: both;
}

.footer {
    height: 20px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);

}